.shopping-cart-button {
  display: flex;
  align-items: center;
  padding: 6px 8px 6px 5px;
  background-color: #ffffff;
  border: none;
}

.shopping-cart-button:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.shopping-cart-button:active {
  background-color: #e4e4e4;
}
.shopping-cart-button__image {
  width: 20px;
  height: 20px;
}
.shopping-cart-button__total {
  margin-left: 4px;
}
