.header {
  background-color: #81d8d0;
  padding: 20px;
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav > * {
  margin: 0px 12px;
}
.header__title {
  font-weight: bold;
}
.header a {
  color: white;
  text-decoration: none;
}
