.cart-modal {
  box-sizing: border-box;
  min-height: 200px;
  padding: 0 20px;
}
.cart-modal__empty {
  display: grid;
  place-items: center;
  height: 150px;
}
.cart-modal__form {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto 100px;
  gap: 1rem;
}
.cart-modal input {
  border: 1px solid pink;
  height: 30px;
}
.cart-modal input:focus-visible {
  border: 1px solid red;
}
.cart-modal__submit {
  height: 34px;
  font-size: 12px;
  align-self: flex-end;
}
.cart-modal__inputs {
  display: grid;
  gap: 1rem;
  flex-direction: column;
}
.cart-modal__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cart-modal__item-info {
  margin-right: 1rem;
  min-width: 160px;
}
.cart-modal__controls {
  display: grid;
  grid-template-columns: repeat(2, 24px);
  gap: 8px;
}

.cart-modal__item-btn {
  padding: 0;
  width: 24px;
  height: 24px;
}
@media (max-width: 560px) {
  .cart-modal__form {
    grid-template-columns: auto;
  }
}
@media (max-width: 375px) {
  .cart-modal__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-modal__item-info {
    margin-bottom: 6px;
  }
}
